@using System.Web.UI.WebControls
@model List<Netflix.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model.Count == 0)
{
    <p> We dont have any customer yet</p>
}
else
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            Customers
        </tr>
    </thead>

    <tbody>

        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(@customer.Name,"Details","Customers",new{id=@customer.Id},null)</td>
            </tr>
        }

    </tbody>
</table>
  
}

